<nav class="navbar is-light">
    <div class="container">
    <div class="navbar-brand">
          <a class="navbar-item" href="/dashboard">
            <img src="https://i.imgur.com/MtCtrCr.png">
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
    <div id="navMenu" class="navbar-menu has-text-centered">
    <div class="navbar-end">
            <a href="/dashboard/items" class="navbar-item is-active">Sell an item</a>
            <a href="#" class="navbar-item">Blog</a>
            <a href="#" class="navbar-item">Forum</a>
            <a href="/dashboard/shop" class="navbar-item">Shop</a>
            <a href="/users/logout" class="navbar-item">Log Out of <%= user %></a>
          </div>
    </div>
    </div>
</nav>
<section class="section">
  <form action="/dashboard" method="POST" autocomplete="off" enctype="multipart/form-data">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <% include ./partials/messages %>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input
                class="input"
                type="name"
                id="name"
                name="name"
                placeholder="Enter full name of an item"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Size</label>
            <div class="control has-icons-left has-icons-right">
              <input
                class="input"
                name="size"
                type="text"
                placeholder="Enter size"
                value="<%= typeof username != 'undefined' ? username : '' %>"
              />
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Quality</label>
            <div class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="text"
                id="quality"
                name="quality"
                placeholder="Rate the quality 1/10"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Price</label>
            <div class="control">
              <input
                class="input"
                type="text"
                id="price"
                name="price"
                placeholder="Enter the Price"
                value="<%= typeof price != 'undefined' ? price : '' %>"
              />
            </div>
          </div>
          <div class="field">
                <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea is-primary input" type="text" name="description" placeholder="Provide some description if necessary"></textarea>
            </div>
          </div>
          <div class="field">
                <label class="label">Image</label>
            <div class="control">
                    <input type='file' name="itemImage">
            </div>
          </div>
          <div class="field">
  
          <div class="field is-grouped">
            <div class="control">
                <form method="get" action="/dashboard/shop">
                  <button
                  type="submit"
                  class="button is-large is-primary  btn-primary btn-block">
                  Submit
              </button>          
                </form>
              
            <button class="button is-large is-success">
             <a href="/dashboard/shop"> <label class="label"
                >Go back!</label></a>
                
              
            </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>