<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/dashboard">
        <img src="https://i.imgur.com/MtCtrCr.png" />
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu has-text-centered">
      <div class="navbar-end">
        <a href="/dashboard/items" class="navbar-item is-active"
          >Sell an item</a
        >
        <a href="#" class="navbar-item">Blog</a>
        <a href="#" class="navbar-item">Forum</a>
        <a href="/dashboard/shop" class="navbar-item">Shop</a>
        <a href="/users/logout" class="navbar-item">Log Out of <%= user %></a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div id="flow">
    <span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>
  </div>
  <div class="section">
    <div class="box">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            class="input has-text-centered"
            type="search"
            placeholder="» » » » » » find me « « « « « «"
          />
        </div>
        <div class="control">
          <a class="button is-info">Search</a>
        </div>
      </div>
    </div>

    <div class="row columns is-multiline">
      <% items.forEach(function(item){ %>

      <div class="column is-one-third">
        <div class="card large round">
          <div class="card-image ">
            <figure class="image">
              <img src="<%= item.itemImage %>" alt="Image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img
                    src="https://image.flaticon.com/icons/png/512/97/97895.png"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding" style="margin-bottom:0px"><%= item.name %></p>
                <p>
                  <span class="title has-text-black	 is-6"
                    ><b>Size: </b><%= item.size %></span
                  >
                </p>
                <p>
                  <span class="title has-text-black	 is-6"
                    ><b>Quality: </b><%= item.quality %>/10</span
                  >
                </p>
                <p>
                  <span class="title has-text-black	 is-6"
                    ><b>Price: </b><%= item.quality %>/$</span
                  >
                </p>
              </div>
            </div>
            <div class="content">
              <%= item.description %>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
